.gitignore

.env*
*.bat
*.json
*.xml
config.ini
dll/config.ini
*.code-workspace

logs/
data/
data*/
__pycache__/

initialization/__pycache__/

connection/ws_reversed/api/__pycache__/
connection/ws_reversed/event/__pycache__/